<nav>
    <ul>
        {% for key, item in items %}
            <li>
            {% if item is iterable %}
                <ul>
                    <p>{{ key }}</p>
                {% for subkey, subitem in item %}
                    <li><a href="{{ subitem }}">{{ subkey }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <a href="{{ item }}">{{ key }}</a>
            {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>