<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path("app_default_index") }}">{{ 'menu.home'|trans }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{{ path("app_default_helloall") }}">{{ 'menu.greetings'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("app_default_random") }}">{{ 'menu.random'|trans }}</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ 'menu.posts'|trans }}
                </a>
                <ul class="dropdown-menu">
                    {% if is_granted('ROLE_USER') %}
                        <li><a class="dropdown-item" href="{{ path("app_post_create") }}">{{ 'menu.create'|trans }}</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{{ path("app_post_list") }}">{{ 'menu.list'|trans }}</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ 'menu.reviews'|trans }}
                </a>
                <ul class="dropdown-menu">
                    {% if is_granted('ROLE_USER') %}
                        <li><a class="dropdown-item" href="{{ path("app_review_create") }}">{{ 'menu.create'|trans }}</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{{ path("app_review_list") }}">{{ 'menu.list'|trans }}</a></li>
                </ul>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("app_user_list") }}">{{ 'menu.users'|trans }}</a>
                </li>
            {% endif %}
            {% if not is_granted('ROLE_USER') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("app_user_login") }}">{{ 'menu.login'|trans }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("app_user_register") }}">{{ 'menu.register'|trans }}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("app_user_logout") }}">{{ 'menu.logout'|trans }}</a>
                </li>
            {% endif %}
            {% include 'Fragments/_locale.html.twig' %}
        </ul>
        {# <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form> #}
        </div>
    </div>
</nav>