
{% for comment in comments %}
        <p>{{ comment.body }}</p>
        <div>
            <a href="{{ path('app_comment_update', {'comment' : comment.id}) }}">Update</a>
            <a href="{{ path('app_comment_delete', {'comment' : comment.id}) }}">Delete</a>
            <span>Likes : {{ comment.likes|length }}</span>
            {% if comment.isLiked %}
                <a href="{{ path('app_comment_liketoggle', {'comment': comment.id}) }}">Unlike</a>
            {% else %}
                <a href="{{ path('app_comment_liketoggle', {'comment': comment.id}) }}">Like</a>
            {% endif %}
        </div>
{% endfor %}