{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Movie</th>
                <th>Body</th>
                <th>Rating</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
                <tr>
                    <td>{{ review.id }}</td>
                    <td>{{ review.movie }}</td>
                    <td>{{ review.body }}</td>
                    <td>{{ review.rating }}/10</td>
                    <td>{{ review.createdAt|date('d/m/Y') }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('app_review_read', {'review': review.id}) }}">Read</a>
                        <a class="btn btn-primary" href="{{ path('app_review_update', {'review': review.id}) }}">Update</a>
                        <a class="btn btn-danger" href="{{ path('app_review_delete', {'review': review.id}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('app_review_create') }}">Create Review</a>
{% endblock %}