{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Movie</th>
                <th>Body</th>
                <th>Rating</th>
                <th>Created At</th>
                {% if is_granted('updateOrDelete', review) %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ review.id }}</td>
                <td>{{ review.movie }}</td>
                <td>{{ review.body }}</td>
                <td>{{ review.rating }}/10</td>
                <td>{{ review.createdAt|date('d/m/Y') }}</td>
                {% if is_granted('updateOrDelete', review) %}
                    <td>
                        <a class="btn btn-primary" href="{{ path('app_review_update', {'review': review.id}) }}">Update</a>
                        <a class="btn btn-danger" href="{{ path('app_review_delete', {'review': review.id}) }}">Delete</a>
                    </td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    {% if review.comments|length > 0 %}
        <h2>Comments</h2>
        <ul>
            {% for comment in review.comments %}
                <li>{{ comment.body }} | <a href="{{ path("app_review_comment_delete", {"comment": comment.id}) }}">Delete</a></li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if is_granted('ROLE_USER') %}
        {{ render(controller('App\\Controller\\Review\\CommentController::create', {'review': review.id})) }}
    {% endif %}
{% endblock %}