{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ review.movieTitle }}</h1>
    <p>{{ review.body }}</p>
    <p>{{ review.rating }} / 10</p>
    <span>{{ review.createdAt|date('d/m/Y H:i') }}</span>
    <hr>
    {% if (review.comments|length > 0) %}
        <h2>Comments</h2>
        <dl>
            {% for comment in review.comments %}
                <dt>{{ comment.createdAt|date('d/m/Y H:i') }}</dt>

                    <dd>
                        {{ comment.body }}
                        {% if is_granted('UPDATE', comment) %}
                            <a href="{{ path('app_review_comment_update', {'comment': comment.id}) }}">Update</a>
                        {% endif %}
                        {% if is_granted('DELETE', comment) %}
                            <a href="{{ path('app_review_comment_delete', {'comment': comment.id}) }}">Delete</a>
                        {% endif %}
                    </dd>
            {% endfor %}
        </dl>
        <hr>
    {% endif %}
    <h2>Leave a comment</h2>
    {{  render(controller('App\\Controller\\Review\\CommentController::create', {'review': review.id})) }}
{% endblock %}