<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <nav><ul>
            <li><a href='{{ path("app_default_index") }}'>Home</a></li>
            {# <li><a href='{{ path("app_default_hello", {'name':'Tristan'}) }}'>Greetings</a></li> #}
            <li><a href='{{ path("app_default_helloall") }}'>Greetings</a></li>
            <li><a href='{{ path("app_default_random") }}'>Random</a></li>
            <li><a href='{{ path("app_post_list") }}'>Post List</a></li>
            <li><a href='{{ path("app_review_list") }}'>Review List</a></li>
        </ul></nav>
        {% block body %}{% endblock %}
    </body>
</html>
