<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Symfony - {% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav>
            <ul>

                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('app_user_list') }}">Users</a></li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a href="{{ path('app_date_day') }}">Weekday</a></li>
                    <li><a href="{{ path('app_lucky_welcome') }}">Welcome</a></li>
                    <li><a href="{{ path('app_lucky_number') }}">Number</a></li>
                    <li><a href="{{ path('app_lucky_eightrandom') }}">Eight</a></li>
                    <li><a href="{{ path('app_post_list') }}">Posts</a></li>
                    <li><a href="{{ path('app_logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ path('app_login') }}">Login</a></li>
                    <li><a href="{{ path('app_register') }}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
