<nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_post_list') }}">
                    <img src="{{ asset('build/images/logo.svg') }}" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                                {% if is_granted('ROLE_ADMIN') %}
                                        <li class="nav-item">
                                                <a class="nav-link" href="{{ path('app_user_list') }}"><i class="bi bi-people"></i>{{ "nav.users"|trans }}</a>
                                        </li>
                                {% endif %}
                                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                        <li class="nav-item">
                                                <a class="nav-link" href="{{ path('app_date_day') }}"><i class="bi bi-calendar"></i>{{ "nav.weekday"|trans }}</a>
                                        </li>
                                        <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="{{ path('app_lucky_welcome') }}" role="button"
                                                   data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bi bi-dice-1"></i>{{ "nav.lucky"|trans }}
                                                </a>
                                                <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="{{ path('app_lucky_number') }}">{{ "nav.number"|trans }}</a></li>
                                                        <li><a class="dropdown-item" href="{{ path('app_lucky_eightrandom') }}">{{ "nav.eight"|trans }}</a></li>
                                                </ul>
                                        </li>
                                        <li class="nav-item">
                                                <a class="nav-link" href="{{ path('app_post_list') }}"><i class="bi bi-newspaper"></i>{{ "nav.posts"|trans }}</a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="nav-link" href="{{ path('app_user_edit', {'user': app.user.id}) }}"><i class="bi bi-person"></i>{{ "nav.profil"|trans }}</a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="nav-link" href="{{ path('app_logout') }}"><i class="bi bi-door-closed"></i>{{ "nav.logout"|trans }}</a>
                                        </li>
                                {% else %}
                                        <li class="nav-item">
                                                <a class="nav-link" href="{{ path('app_login') }}"><i class="bi bi-link"></i>{{ "nav.login"|trans }}</a>
                                        </li>
                                        <li class="nav-item">
                                                <a class="nav-link" href="{{ path('app_register') }}"><i class="bi bi-link"></i>{{ "nav.register"|trans }}</a>
                                        </li>
                                {% endif %}
                            <li class="nav-item">
                                {% if app.session.get('_locale') == 'en' %}
                                    <a class="nav-link" href="{{ path('app_language_switch', {'lang': 'fr'}) }}"><span class="fi fi-fr"></span></a>
                                {% else %}
                                    <a class="nav-link" href="{{ path('app_language_switch', {'lang': 'en'}) }}"><span class="fi fi-gb"></span></a>
                                {% endif %}
                            </li>
                        </ul>
                </div>
        </div>
</nav>