{% extends 'layout.html.twig' %}

{% block title %}Post List{% endblock %}

{% block body %}
    <h2>{{ "post.title"|trans({'%count%': posts|length, '%type%': 'post'}) }}</h2>
    <table class="table">
        <tr>
            <th>Subject</th>
            <th>Body</th>
            <th>Date</th>
            <th>Comments count</th>
            <th>User</th>
            <th>Action</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{ post.subject }}</td>
            <td>{{ post.body }}</td>
            <td>{{ post.createdAt.format('F d y') }}</td>
            <td>{{ post.nbComments }}</td>
            <td>{{ post.user.firstname }} {{ post.user.lastname }}</td>
            <td>
                <form method="POST" action="{{ path('app_post_delete', {'post': post.id}) }}">
                    <a class="btn btn-primary" href="{{ path('app_post_show', {'post': post.id}) }}">Show</a>
                    <a class="btn btn-primary" href="{{ path('app_post_edit', {'post': post.id}) }}">Edit</a>
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a class="btn btn-primary" href="{{ path('app_post_create') }}">Create</a>
{% endblock %}