{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Body</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td>{{ post.body }}</td>
                    <td>{{ post.createdAt|date('d/m/Y H:i') }}</td>
                    <td>
                        <a href="{{ path('app_post_update', {'post': post.id}) }}">Update</a>
                        <a href="{{ path('app_post_delete', {'post': post.id}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}