<html>
<body>
    <table>
        <tr>
            <th>Subject</th>
            <th>Body</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{ post.subject }}</td>
            <td>{{ post.body }}</td>
            <td>{{ post.createdAt.format('F d y') }}</td>
            <td>
                <a href="/post/{{ post.id }}">Show</a>
                <a href="/post/edit/{{ post.id }}">Edit</a>
                <form method="POST" action="/post/{{ post.id }}">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>