{% extends 'layout.html.twig' %}

{% block title %}Post List{% endblock %}

{% block body %}
    <table>
        <tr>
            <th>Subject</th>
            <th>Body</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{ post.subject }}</td>
            <td>{{ post.body }}</td>
            <td>{{ post.createdAt.format('F d y') }}</td>
            <td>
                <a href="{{ path('app_post_show', {'post': post.id}) }}">Show</a>
                <a href="{{ path('app_post_edit', {'post': post.id}) }}">Edit</a>
                <form method="POST" action="{{ path('app_post_delete', {'post': post.id}) }}">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ path('app_post_create') }}">Create</a>
{% endblock %}