{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ title }}</h1>
    <table class='table'>
        <thead>
            <tr>
                <th>Title</th>
                <th>Body</th>
                <th>Author</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.title }}</td>
                    <td>{{ post.body }}</td>
                    <td>{{ post.author.email }}</td>
                    <td>{{ post.createdAt|date('d/m/Y') }}</td>
                    <td>
                        <a href='{{ path('app_post_edit', {'post': post.id}) }}' class='btn btn-primary'>Edit</a>
                        <a href='{{ path('app_post_delete', {'post': post.id}) }}' class='btn btn-danger' onclick="return confirm('Are you sure you want to delete this post?');">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class='btn btn-primary' href='{{ path('app_post_create') }}'>Create new post</a>
{% endblock %}