{% extends "base.html.twig" %}

{% block title %}{{ parent() }}{{ title }}{% endblock %}

{% block body %}
    {#    Formulaire JS     #}
    {#    <label for="search">Search</label>#}
    {#    <input type="text" id="search">#}

    {#    Formulaire PHP    #}
    <form action="{{ path('app_post_search') }}">
        <label for="query">Search</label>
        <input type="text" name="query" id="query">
        <input type="submit" value="Search">
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.name }}</td>
                <td>{{ post.user.email }}</td>
                {% if is_granted('ROLE_ADMIN') or post.user == app.user %}
                    <td>
                        <a href="{{ path('app_post_edit', {'post': post.id}) }}">Edit</a>
                        <a href="{{ path('app_post_delete', {'post': post.id}) }}">Delete</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_post_create') }}">Create Post</a>
    <script>
        // let search = document.getElementById('search');
        // let tbody = document.querySelector('tbody');
        // let rows = tbody.children;
        //
        // search.addEventListener('change', () => {
        //     let value = search.value.toLowerCase();
        //     for (let row of rows) {
        //         let subject = row.innerHTML.toLowerCase();
        //         if (subject.includes(value)) {
        //             row.style.display = 'table-row';
        //         }
        //         else {
        //             row.style.display = 'none';
        //         }
        //     }
        // });
    </script>
{% endblock %}