{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('red') }}
{% endblock %}

{% block body %}
    <a href="{{ path('app_post_create') }}">Create</a>
    <table class="table">
        <thead>
            <tr>
                <th>Subject</th>
                <th>Body</th>
                <th>User</th>
                <th>Comments</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.subject }}</td>
                <td>{{ post.body }}</td>
                <td>{{ post.user.email }}</td>
                <td>{{ post.comments }}</td>
                <td>{{ post.createdAt|date }}</td>
                <td>
                    <a href="{{ path('app_post_read', {'post' : post.id}) }}">Read</a>
                    {% if is_granted('UPDATE', post) %}
                        <a href="{{ path('app_post_update', {'post' : post.id}) }}">Update</a>
                        <a href="{{ path('app_post_delete', {'post' : post.id}) }}">Delete</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}