{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'post.list'|trans({'%count%': posts|length}) }}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{{ 'post.subject'|trans }}</th>
                <th>{{ 'post.body'|trans }}</th>
                <th>{{ 'post.created'|trans }}</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.subject }}</td>
                    <td>{{ post.body }}</td>
                    <td>{{ post.createdAt|date('d/m/Y') }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('app_post_read', {'post': post.id}) }}">{{ 'post.read'|trans }}</a>
                        {% if is_granted('updateOrDelete', post) %}
                            <a class="btn btn-primary" href="{{ path('app_post_update', {'post': post.id}) }}">{{ 'post.update'|trans }}</a>
                            <a class="btn btn-danger" href="{{ path('app_post_delete', {'post': post.id}) }}">{{ 'post.delete'|trans }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_USER') %}
        <a class="btn btn-primary" href="{{ path('app_post_create') }}">{{ 'post.create'|trans }}</a>
    {% endif %}
{% endblock %}