{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ post.subject }}</h2>
    <p>{{ post.body }}</p>
    <p>{{ post.user.email }}</p>

    <h3>Comments</h3>
    <table>
        <thead>
            <tr>
                <td>Body</td>
                <td>Created</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {{ render_esi(controller('App\\Controller\\PostController::getComments', {'post': post.id})) }}
        </tbody>
    </table>
    <h3>Leave a comment below</h3>
    {{ form(form, {'action': path('app_comment_create', {'post': post.id})}) }}
    {% endblock %}

