{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post n°{{ post.id }}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Subject</th>
                <th>Body</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.subject }}</td>
                <td>{{ post.body }}</td>
                <td>{{ post.createdAt|date('d/m/Y') }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_post_update', {'post': post.id}) }}">Update</a>
                    <a class="btn btn-danger" href="{{ path('app_post_delete', {'post': post.id}) }}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    {% if post.comments|length > 0 %}
        <h2>Comments</h2>
        <ul>
            {% for comment in post.comments %}
                <li>
                    {{ comment.body }} |
                    {% if app.user.hasLiked(comment) %}
                        <a href="{{ path("app_like_toggle", {"comment": comment.id}) }}"><i class="bi bi-heart-fill"></i></a>
                    {% else %}
                        <a href="{{ path("app_like_toggle", {"comment": comment.id}) }}"><i class="bi bi-heart"></i></a>
                    {% endif %}
                    {{ comment.likes|length }}
                     | <a class="text-danger" href="{{ path("app_post_comment_delete", {"comment": comment.id}) }}">Delete</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {{ render(controller('App\\Controller\\Post\\CommentController::create', {'post': post.id})) }}
{% endblock %}