{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post n°{{ post.id }}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Subject</th>
                <th>Body</th>
                <th>Created At</th>
                {% if is_granted('updateOrDelete', post) %}
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.subject }}</td>
                <td>{{ post.body }}</td>
                <td>{{ post.createdAt|date('d/m/Y') }}</td>
                {% if is_granted('updateOrDelete', post) %}
                    <td>
                        <a class="btn btn-primary" href="{{ path('app_post_update', {'post': post.id}) }}">Update</a>
                        <a class="btn btn-danger" href="{{ path('app_post_delete', {'post': post.id}) }}">Delete</a>
                    </td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    {% if post.comments|length > 0 %}
        <h2>Comments</h2>
        <ul>
            {% for comment in post.comments %}
                <li>
                    {{ comment.body }} |
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path("app_like_toggle", {"comment": comment.id}) }}" style="text-decoration: none;">
                            {% if app.user.hasLiked(comment) %}
                                <i class="bi bi-heart-fill"></i>
                            {% else %}
                                <i class="bi bi-heart"></i>
                            {% endif %}
                        </a>
                    {% else %}
                        <i class="bi bi-heart-fill" style="filter: contrast(0);"></i>
                    {% endif %}
                    {{ comment.likes|length }}
                    {% if is_granted('delete', comment) %}
                         | <a class="text-danger" href="{{ path("app_post_comment_delete", {"comment": comment.id}) }}">Delete</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if is_granted('ROLE_USER') %}
        {{ render(controller('App\\Controller\\Post\\CommentController::create', {'post': post.id})) }}
    {% endif %}
{% endblock %}