{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Subject</th>
                <th>Body</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.subject }}</td>
                <td>{{ post.body }}</td>
                <td>{{ post.createdAt|date('d/m/Y') }}</td>
                <td>
                    <a href="{{ path('app_post_update', {'post': post.id}) }}">Update</a>
                    <a href="{{ path('app_post_delete', {'post': post.id}) }}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}