{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ post.subject }}</h2>
    <p>{{ post.body }}</p>
    <p>{{ post.user.email }}</p>

    <h3>Comments</h3>
    <table>
        <thead>
            <tr>
                <td>Body</td>
                <td>Created</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.body }}</td>
                <td>{{ comment.createdAt|date }}</td>
                <td>
                    {% if is_granted('UPDATE', comment) %}
                        <a href="{{ path('app_comment_update', {'comment' : comment.id}) }}">Update</a>
                    {% endif %}
                    {% if is_granted('DELETE', comment) %}
                        <a href="{{ path('app_comment_delete', {'comment' : comment.id}) }}">Delete</a>
                    {% endif %}
                    <span>{{ comment.likes|length }}</span>
                    {% if {"user_id": app.user.id} in comment.likes %}
                        <a href="{{ path('app_comment_like', {'comment': comment.id}) }}"><i class="bi bi-heart-fill"></i></a>
                    {% else %}
                        <a href="{{ path('app_comment_like', {'comment': comment.id}) }}"><i class="bi bi-heart"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h3>Leave a comment below</h3>
    {{ form(form, {'action': path('app_comment_create', {'post': post.id})}) }}
    {% endblock %}

