{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.body }}</p>
    <span>{{ post.createdAt|date('d/m/Y H:i') }}</span>
    {% if (post.comments|length > 0) %}
        <hr>
        <h2>Comments</h2>
        <dl>
            {% for comment in post.comments %}
                <dt>{{ comment.createdAt|date('d/m/Y H:i') }}</dt>
                <dd>By : {{ comment.user.email }}</dd>

                    <dd>
                        {{ comment.body }}
                        {% if is_granted('UPDATE', comment) %}
                            <a href="{{ path('app_post_comment_update', {'comment': comment.id}) }}">Update</a>
                        {% endif %}
                        {% if is_granted('DELETE', comment) %}
                            <a href="{{ path('app_post_comment_delete', {'comment': comment.id}) }}">Delete</a>
                        {% endif %}
                    </dd>

            {% endfor %}
        </dl>
    {% endif %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <hr>
        <h2>Leave a comment</h2>
        {{  render(controller('App\\Controller\\Post\\CommentController::create', {'post': post.id})) }}
    {% endif %}
{% endblock %}