{% include 'header.html.twig' with {'titre': 'Liste des articles'} %}
    {% for message in app.flashes('success') %}
        <span class="success">{{ message }}</span>
    {% endfor %}
    <table>
            <thead>
                <tr>
                    <th>ID :</th>
                    <th>Titre :</th>
                    <th>Auteur :</th>
                    <th>Actions :</th>
                </tr>
            </thead>
            <tbody>
                    {% for article in articles %}
                            <tr>
                                    <td>{{ article.id }}</td>
                                    <td>{{ article.titre }}</td>
                                    <td>{{ article.auteur }}</td>
                                    <td>
                                        <a href="/article/{{ article.id }}">Voir</a>
                                        <a href="/article/edit/{{ article.id }}">Modifier</a>
                                        <a href="/article/delete/{{ article.id }}">Supprimer</a>
                                    </td>
                            </tr>
                    {% endfor %}
            </tbody>
    </table>
    <a href="/article/new">Créer un article</a>
{% include 'footer.html.twig' %}