{% extends "base.html.twig" %}

{% block title %}{{ parent() }}{{ title }}{% endblock %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('app_user_edit', {'user': user.id}) }}">Edit</a>
                    <a href="{{ path('app_user_delete', {'user': user.id}) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}