{% extends 'layout.html.twig' %}

{% block title %}User List{% endblock %}

{% block body %}
    <table class="table">
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Action</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>
                <form method="POST" action="{{ path('app_user_delete', {'user': user.id}) }}">
                    <a class="btn btn-primary" href="{{ path('app_user_show', {'user': user.id}) }}">Show</a>
                    <a class="btn btn-primary" href="{{ path('app_user_edit', {'user': user.id}) }}">Edit</a>
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <a class="btn btn-primary" href="{{ path('app_user_create') }}">Create</a>
{% endblock %}